html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

.ant-layout {
  min-height: 100%;
}

.text- {
  &gray {
    color: #455a64;
  }
  &strong {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.p- {
  &4 {
    padding: 1rem;
  }
  &16 {
    padding: 4rem;
  }
}

.mb-4 {
  margin-bottom: 1rem;
}

.center {
  align-items: center;
  justify-content: center;
}

.w- {
  &80 {
    width: 20rem;
  }
}

.flex {
  display: flex;
}

.flex- {
  &auto {
    flex: 1;
  }
  &row {
    flex-direction: row;
  }
}

.ant-upload {
  .image-card {
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
    }
  }
}

.ant-pro-table .ant-pro-table-search {
  margin-bottom: 4px;
}

.ant-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.landing {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1087%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(110%2c 160%2c 226%2c 0.79)'%3e%3c/rect%3e%3cpath d='M1395.743%2c356.053C1470.533%2c355.264%2c1532.311%2c303.985%2c1569.297%2c238.976C1605.824%2c174.774%2c1616.43%2c96.653%2c1579.83%2c32.492C1542.932%2c-32.191%2c1470.182%2c-63.229%2c1395.743%2c-65.272C1317.022%2c-67.433%2c1233.017%2c-46.109%2c1193.277%2c21.88C1153.26%2c90.343%2c1174.639%2c174.882%2c1215.731%2c242.705C1255.113%2c307.705%2c1319.747%2c356.854%2c1395.743%2c356.053' fill='rgba(44%2c 84%2c 174%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1301.6817127168222-1.448972305379364L1218.7322078151583 176.43681500908048 1396.617995129618 259.3863199107444 1479.567500031282 81.50053259628456z' fill='rgba(44%2c 84%2c 174%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M823.948%2c820.204C848.742%2c818.93%2c869.132%2c802.678%2c881.384%2c781.085C893.455%2c759.81%2c896.685%2c734.167%2c884.939%2c712.711C872.741%2c690.43%2c849.339%2c675.441%2c823.948%2c676.171C799.627%2c676.87%2c781.506%2c695.337%2c768.74%2c716.05C755.1%2c738.18%2c743.119%2c764.593%2c755.294%2c787.562C768.014%2c811.558%2c796.825%2c821.597%2c823.948%2c820.204' fill='rgba(44%2c 84%2c 174%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M459.59615199341386 405.10408535784677L218.82634203795882 483.3349388706278 297.0571955507399 724.1047488260829 537.827005506195 645.8738953133018z' fill='rgba(44%2c 84%2c 174%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1143.265%2c916.278C1189.81%2c912.705%2c1222.791%2c875.323%2c1244.969%2c834.246C1265.808%2c795.649%2c1272.227%2c751.528%2c1253.675%2c711.782C1231.623%2c664.538%2c1195.402%2c616.506%2c1143.265%2c616.354C1090.974%2c616.201%2c1057.399%2c665.575%2c1031.733%2c711.134C1006.705%2c755.56%2c986.016%2c807.455%2c1010.372%2c852.253C1035.545%2c898.554%2c1090.719%2c920.311%2c1143.265%2c916.278' fill='rgba(44%2c 84%2c 174%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M661.9367864614119 655.9269731242836L478.1245583533844 570.2139234949768 392.4115087240777 754.0261516030043 576.2237368321051 839.7392012323111z' fill='rgba(44%2c 84%2c 174%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M688.214%2c646.059C718.749%2c645.528%2c751.571%2c641.577%2c768.229%2c615.98C786.177%2c588.4%2c783.659%2c552.668%2c767.726%2c523.877C751.245%2c494.095%2c722.227%2c470.098%2c688.214%2c471.392C655.81%2c472.625%2c634.724%2c501.458%2c618.532%2c529.553C602.369%2c557.597%2c586.61%2c591.071%2c603.225%2c618.851C619.589%2c646.212%2c656.338%2c646.614%2c688.214%2c646.059' fill='rgba(44%2c 84%2c 174%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M215.8665860866573 796.0539879611223L215.86658608665726 567.3967956568093-12.790606217655721 567.3967956568093-12.790606217655693 796.0539879611223z' fill='rgba(44%2c 84%2c 174%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M412.9833968582607 562.4185321019261L421.62945416705475 314.82784510869453 174.0387671738232 306.18178779990046 165.39270986502913 553.772474793132z' fill='rgba(44%2c 84%2c 174%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1087'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

.linear-gradient {
  background: #039ce5;
  background: linear-gradient(to left, #039ce5, #6b1b9a) !important;
}
